/*.root {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*    width: 500px;*/
/*    margin: auto;*/
/*}*/

/*.root .grid {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    padding: 20px;*/
/*    border: 1px solid #ccc;*/
/*    margin: 10px;*/
/*}*/

/*.row {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin-bottom: 10px;*/
/*}*/

.row {
    font-size: 12px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    width: 32px;
    height: 32px;
    background-color: blue;
    margin-right: 10px;
    border-radius: 8px;
    border: 1px solid #D5D5DD;
}

/*.grid .primary_button {*/
/*    border-radius: 8px;*/
/*    margin-bottom: 10px;*/
/*    width: 100%;*/
/*    background-color: var(--light-theme-mode-1-action-primary-active);*/
/*    color: var(--light-theme-mode-1-surface-default);*/

/*    &:hover {*/
/*        background-color: var(--light-theme-mode-1-action-primary-hover);*/
/*    }*/
/*}*/

/*.grid .secondary_button {*/
/*    border-radius: 8px;*/
/*    margin-bottom: 10px;*/
/*    width: 100%;*/
/*    background-color: var(--light-theme-mode-1-action-secondary-default);*/
/*    color: #000;*/

/*    &:hover {*/
/*        background-color: var(--light-theme-mode-1-action-secondary-hover);*/
/*    }*/
/*}*/